# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# PyInstaller
*.spec

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
